## Python - Fundamentos para a Análise de Dados

### Cap 06 - Bancos de Dados - SQLite

Documentação [aqui](https://www.sqlite.org/index.html).

### Criando um Banco de Dados SQLite

**Acessando Banco de Dados com Python**

In [1]:
import os
os.remove('escola.db') if os.path.exists('escola.db') else None

In [2]:
import sqlite3

Vamos criar a conexão com o banco de dados. Se o banco não existe a conexão a cria.

In [3]:
#Cria conexão com o banco de dados
con = sqlite3.connect('escola.db')

In [4]:
type(con)

sqlite3.Connection

Vamos criar um cursos para acessar o banco de dados. Ele permite percorrer todos os registros em um conjunto de dados.

In [5]:
cur = con.cursor()

In [6]:
type(cur)

sqlite3.Cursor

Vamos criar nossas instruções de criação do banco de dados, passando comandos SQL.

In [7]:
sql_create = 'create table cursos'\
'(id integer primary key, '\
'titulo varchar(100), '\
'categoria varchar(140))'

In [8]:
cur.execute(sql_create)

In [9]:
sql_insert = 'insert into cursos values (?,?,?)'

In [10]:
#Dados
recset = [(1000, 'Ciência de Dados', 'Data Science'),
          (1001, 'Big Data Fundamentos', 'Big Data'),
          (1002, 'Python Fundamentos', 'Análise de Dados')]

In [11]:
#Inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)

Quando se trabalha com banco de dados relacional é de **extrema importância** gravar a transação.

In [12]:
#Grava a  transação
con.commit()

In [13]:
#Vamos ver nossos registros
sql_select = 'select * from cursos'

In [14]:
#Selecionar e recuperar os registros
cur.execute(sql_select)
dados = cur.fetchall()

In [15]:
#Mostrando os dados
for linha in dados:
    print('Curso Id: %d, Título: %s, Categoria: %s \n' %linha)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

In [16]:
# Gerando outros registros

recset = [(1003, 'Gestão de dados com MongoDB', 'Big Data'),
         (1004, 'R Fundamentos', 'Análise de Dados')]

#Inserindo os registros
for rec in recset: 
    cur.execute(sql_insert, rec)

#Gravando a transação
con.commit()

In [17]:

# Seleciona todos os registros
cur.execute('select * from cursos')

# Recupera os resultados
recset = cur.fetchall()

# Mostra
for rec in recset:
    print ('Curso Id: %d, Título: %s, Categoria: %s \n' % rec)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

Curso Id: 1003, Título: Gestão de dados com MongoDB, Categoria: Big Data

Curso Id: 1004, Título: R Fundamentos, Categoria: Análise de Dados

In [18]:
#Fecha a conexão
con.close()